<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wms.infrastructure.mapper.CalculateOsNumberMapper">
    <select id="findMaxOutboundScheduleNumber" resultType="java.lang.String">
        SELECT outbound_schedule_number
        FROM outbound_plan
        ORDER BY outbound_schedule_number DESC
        LIMIT 1
    </select>
</mapper>