<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wms.infrastructure.mapper.InboundMapper">
    <resultMap id="inboundResultMap" type="com.example.wms.inbound.application.domain.Inbound">
        <id property="inboundId" column="inbound_id"/>
        <result property="scheduleNumber" column="schedule_number"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="checkNumber" column="check_number"/>
        <result property="checkDate" column="check_date"/>
        <result property="putAwayNumber" column="put_away_number"/>
        <result property="putAwayDate" column="put_away_date"/>
        <result property="orderId" column="order_id"/>
        <result property="supplierId" column="supplier_id"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="inboundId">
        INSERT INTO inbound
        ( schedule_number, schedule_date, check_number, check_date, put_away_number, put_away_date, order_id, supplier_id)
        VALUES
        (#{scheduleNumber}, #{scheduleDate}, #{checkNumber}, #{checkDate}, #{putAwayNumber}, #{putAwayDate}, #{orderId}, #{supplierId})
    </insert>
</mapper>