<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wms.infrastructure.mapper.InboundCheckMapper">


    <insert id="insertInboundCheck" useGeneratedKeys="true" keyProperty="inboundCheckId">
        INSERT INTO inbound_check
        (inbound_check_id, inbound_id, product_id, defective_lot_count)
        VALUES (#{inboundCheckId}, #{inboundId}, #{productId}, #{defectiveLotCount})
    </insert>

    <select id="findByInboundId" resultType="com.example.wms.inbound.application.domain.InboundCheck">
        SELECT inbound_check_id AS inboundCheckId, inbound_id, product_id, defective_lot_count
        FROM inbound_check
        WHERE inbound_id = #{inboundId}
    </select>


    <resultMap id="inboundResultMap" type="com.example.wms.inbound.application.domain.InboundCheck">
        <id property="inboundCheckId" column="inbound_check_id"/>
        <result property="inboundId" column="inbound_id"/>
        <result property="productId" column="product_id"/>
        <result property="defectiveLotCount" column="defective_lot_count"/>
    </resultMap>
</mapper>