<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wms.infrastructure.mapper.LotMapper">
    <update id="updateStatus">
        UPDATE lot
        SET status = #{status}
        WHERE lot_id = #{lotId}
    </update>

    <insert id = "save" useGeneratedKeys="true" keyProperty="lotId">
        INSERT INTO lot
        ( lot_number, product_id, bin_id, status, inbound_id, outbound_id)
        VALUES
        (#{lotNumber}, #{productId}, #{binId},
        #{status, typeHandler=com.example.wms.product.application.domain.LotStatusTypeHandler}, #{inboundId},
        #{outboundId})
    </insert>

    <select id="findLotsByProductId" resultType="com.example.wms.product.application.domain.Lot">
        SELECT lot_id, bin_id
        FROM lot
        WHERE product_id = #{productId}
          AND outbound_id IS NULL
        ORDER BY created_at ASC
            LIMIT #{requiredLotCount}
    </select>

    <select id="findLotsSupplierByProductId" resultType="com.example.wms.product.application.domain.Lot">
        SELECT lot_id, bin_id
        FROM lot
        WHERE product_id = #{productId}
        ORDER BY created_at ASC
            LIMIT #{requiredLotCount}
    </select>

    <update id="updateOutboundIdForLots">
        UPDATE lot
        SET outbound_id = #{outboundId}, status = "출고중"
        WHERE lot_id IN
        <foreach collection="lotIds" item="lotId" open="(" separator="," close=")">
            #{lotId}
        </foreach>
    </update>

    <select id="findLotByProductId">
        SELECT *
        FROM lot
        WHERE product_id = #{productId}
    </select>

    <select id="findMaxLONumber" resultType="java.lang.String">
        SELECT lot_number
        FROM lot
        ORDER BY lot_number DESC LIMIT 1
    </select>

    <select id="findLot" resultType="java.lang.Long">
        SELECT lot_id
        FROM lot
        WHERE product_id = #{productId}
    </select>

    <select id="findById" resultMap="LotResultMap">
        SELECT *
        FROM lot
        WHERE lot_id = #{lotId}
    </select>

    <resultMap id="LotResultMap" type="com.example.wms.product.application.domain.Lot">
        <id column="lot_id" property="lotId"/>
        <result column="lot_number" property="lotNumber"/>
        <result column="product_id" property="productId"/>
        <result column="bin_id" property="binId"/>
        <result column="status" property="status"/>
        <result column="inbound_id" property="inboundId"/>
        <result column="outbound_id" property="outboundId"/>
    </resultMap>
</mapper>
