<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wms.infrastructure.mapper.OrderMapper">

    <!-- 주문 전체 조회 -->
    <select id="findAllOrders" resultType="com.example.wms.order.application.domain.Order">
        SELECT * FROM order
    </select>

    <!-- 주문 하나 조회 -->
    <select id="findOrderById" parameterType="long" resultType="com.example.wms.order.application.domain.Order">
        SELECT * FROM `order` WHERE `order_id` = #{orderId}
    </select>

    <!-- 승인된 주문 조회 -->
    <select id="findByIsApproved" resultType="com.example.wms.order.application.domain.Order">
        SELECT * FROM order WHERE is_approved = true
    </select>

    <!-- 지연된 주문 조회 -->
    <select id="findByIsDelayed" resultType="com.example.wms.order.application.domain.Order">
        SELECT * FROM order WHERE is_delayed = true
    </select>

    <!-- 승인된 & 지연되지 않은 주문 조회 -->
    <select id="findApprovedNotDelayedOrders" resultType="com.example.wms.order.application.domain.Order">
        SELECT * FROM order WHERE is_approved = true AND is_delayed = false
    </select>

    <insert id="saveOrder" parameterType="com.example.wms.order.application.domain.Order">
        INSERT INTO order (order_id, order_date, is_approved, is_delayed, product_id, quantity, customer_id)
        VALUES (#{orderId}, #{orderDate}, #{isApproved}, #{isDelayed}, #{productId}, #{quantity}, #{customerId})
    </insert>

    <select id="getLastOrderNumber" resultType="String">
        SELECT order_number FROM `order`
        WHERE order_number LIKE CONCAT('OR', DATE_FORMAT(NOW(), '%Y%m%d'), '%')
        ORDER BY order_number DESC
        LIMIT 1
    </select>

    <insert id="createOrder" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO `order` (supplier_id, order_number, order_date, order_quantity, is_approved, is_return_order,
        order_status, inbound_date)
        VALUES (#{supplierId}, #{orderNumber}, #{orderDate}, #{orderQuantity}, #{isApproved}, #{isReturnOrder},
        #{orderStatus}, #{inboundDate})
    </insert>

</mapper>
