<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wms.infrastructure.mapper.OrderProductMapper">
    <select id="findByProductId" resultType="com.example.wms.order.application.domain.OrderProduct">
        SELECT *
        FROM order_product
        WHERE product_id = #{productId}
    </select>

    <update id="updateDefectiveCount">
        UPDATE order_product
        SET defectiveCount
    </update>
</mapper>