<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wms.infrastructure.mapper.OutboundAssignMapper">
    <select id="findOutboundAssignWithPageNation">
        SELECT * FROM outbound WHERE outbound_assign_number IS NOT NULL
        <if test="pageable.sort.sorted">
            <trim prefix="ORDER BY">
                <foreach item="order" index="i" collection="pageable.sort" separator=", ">
                    ${order.property}
                    <choose>
                        <when test="order.direction.toString() == 'ASC'">ASC</when>
                        <otherwise> DESC</otherwise>
                    </choose>
                </foreach>
            </trim>
        </if>
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <select id="findOutboundPlanByOutboundPlanId">
        SELECT *
        FROM outbound_plan
        WHERE outbound_plan_id = #{outboundPlanId}
    </select>
</mapper>