<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wms.infrastructure.mapper.OutboundPlanMapper">
    <resultMap id="outboundPlanResultMap" type="com.example.wms.outbound.adapter.in.dto.OutboundPlanResponseDto">
        <id property="outboundPlanId" column="outbound_plan_id"/>
        <result property="planDate" column="plan_date"/>
        <result property="process" column="process"/>
        <result property="outboundScheduleNumber" column="outbound_schedule_number"/>
        <result property="outboundScheduleDate" column="outbound_schedule_date"/>
        <result property="productionPlanNumber" column="production_plan_number"/>

        <!-- productList 컬렉션 매핑 -->
        <collection property="productList" ofType="com.example.wms.outbound.adapter.in.dto.ProductInfoDto">
            <id property="productId" column="product_id"/>
            <result property="productCode" column="product_code"/>
            <result property="productName" column="product_name"/>
            <result property="productCount" column="productCount"/>
        </collection>
    </resultMap>

    <select id="findOutboundPlanFilteringWithPageNation" resultMap="outboundPlanResultMap">
        SELECT
        op.outbound_plan_id,
        op.status AS process,
        op.outbound_schedule_number,
        op.outbound_schedule_date,
        op.production_plan_number,
        op.plan_date,
        -- Product 정보 컬럼
        p.product_id,
        p.product_code,
        p.product_name,
        opp.required_quantity as productCount
        FROM (
        SELECT *
        FROM outbound_plan
        <where>
            <!-- 시작일 조건 (startDate) -->
            <if test="startDate != null">
                outbound_schedule_date <![CDATA[>=]]> #{startDate}
            </if>
            <!-- 종료일 조건 (endDate) -->
            <if test="endDate != null">
                <if test="startDate != null">
                    AND
                </if>
                outbound_schedule_date <![CDATA[<=]]> #{endDate}
            </if>
            <!-- 번호 조건 (outboundScheduleNumber) -->
            <if test="outboundScheduleNumber != null and outboundScheduleNumber != ''">
                <if test="startDate != null or endDate != null">
                    AND
                </if>
                outbound_schedule_number LIKE CONCAT('%', #{outboundScheduleNumber}, '%')
            </if>
        </where>
        <!-- 정렬 조건 -->
        <if test="pageable.sort.sorted">
            <trim prefix="ORDER BY">
                <foreach item="order" index="i" collection="pageable.sort" separator=", ">
                    ${order.property}
                    <choose>
                        <when test="order.direction.toString() == 'ASC'">ASC</when>
                        <otherwise>DESC</otherwise>
                    </choose>
                </foreach>
            </trim>
        </if>
        <!-- 페이징 조건 -->
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
        ) op
        LEFT JOIN outbound_plan_product opp ON op.outbound_plan_id = opp.outbound_plan_id
        LEFT JOIN product p ON opp.product_id = p.product_id
    </select>

    <select id="countAllOutboundPlan" resultType="Integer">
        SELECT COUNT(*)
        FROM outbound_plan
    </select>

    <select id="countAllOutboundPlanFiltering" resultType="Integer">
        SELECT COUNT(*)
        FROM outbound_plan
        <where>
            <!-- 시작일 조건 (startDate) -->
            <if test="startDate != null">
                outbound_schedule_date <![CDATA[>=]]> #{startDate}
            </if>

            <!-- 종료일 조건 (endDate) -->
            <if test="endDate != null">
                <if test="startDate != null">
                    AND
                </if>
                outbound_schedule_date <![CDATA[<=]]> #{endDate}
            </if>

            <!-- 번호 조건 (outboundScheduleNumber) -->
            <if test="outboundScheduleNumber != null and outboundScheduleNumber != ''">
                <if test="startDate != null or endDate != null">
                    AND
                </if>
                outbound_schedule_number LIKE CONCAT('%', #{outboundScheduleNumber}, '%')
            </if>
        </where>
    </select>


</mapper>