<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wms.infrastructure.mapper.ProductMapper">
    <resultMap id="productResultMap" type="com.example.wms.product.application.domain.Product">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="abcGrade" column="abc_grade"/>
        <result property="locationBinCode" column="location_bin_code"/>
        <result property="productCode" column="product_code"/>
        <result property="purchasePrice" column="purchase_price"/>
        <result property="salePrice" column="sale_price"/>
        <result property="lotUnit" column="lot_unit"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="stockLotCount" column="stock_lot_count"/>
        <result property="threshold" column="threshold"/>
        <result property="leadTime" column="lead_time"/>
    </resultMap>

    <select id="getAllProducts" resultMap="productResultMap">
        SELECT * FROM product
    </select>

    <!-- ABC 분석 판매금액 기준 -->
    <update id="updateABCGrade">
        UPDATE product
        SET abc_grade = #{abcGrade}
        WHERE product_id = #{productId};
    </update>

    <update id="updateBinLocation">
        UPDATE product
        SET location_bin_code = #{binCode}
        WHERE product_id = #{productId};
    </update>

    <select id="getProductsForABCAnalysis" resultType="com.example.wms.product.application.domain.Product">
        SELECT product_id, sale_price, stock_lot_count
        FROM product;
    </select>


    <select id="findProductWithPagination" resultMap="productResultMap">
        SELECT * FROM product
        <if test="pageable.sort.sorted">
            <trim prefix="ORDER BY">
                <foreach item="order" index="i" collection="pageable.sort" separator=", ">
                    ${order.property}
                    <choose>
                        <when test="order.direction.toString() == 'ASC'"> ASC</when>
                        <otherwise> DESC</otherwise>
                    </choose>
                </foreach>
            </trim>
        </if>
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>


    <select id="countAllProducts" resultType="long">
        SELECT COUNT(*) FROM product
    </select>
</mapper>